<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Welcome to {{ title }}!
  </h2>
</div>

<nav>
  <a routerLink="/workers" routerLinkActive="active">Workers</a>
  <a routerLink="/jobs" routerLinkActive="active">Jobs</a>
  <a routerLink="/execute" routerLinkActive="active">Execute</a>
  <a routerLink="/requests" routerLinkActive="active">Requests</a>
</nav>
<router-outlet></router-outlet>
<router-outlet #routerOutlet="outlet"></router-outlet>
